@font-face{font-family:'Gotham';font-weight:400;font-display:swap;src:url('GothamBook.ttf') format('truetype')}
@font-face{font-family:'Gotham';font-weight:500;font-display:swap;src:url('GothamMedium.ttf') format('truetype')}
@font-face{font-family:'Gotham';font-weight:700;font-display:swap;src:url('GothamBold.ttf') format('truetype')}
@font-face{font-family:'Gotham';font-weight:800;font-display:swap;src:url('Gotham-Black.otf') format('opentype')}
